@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: rgb(160, 28, 160);
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: rgb(160, 28, 160);
}
.navbar h1 {
  color: white;
  font-weight: bold;
}
.navbar .links {
  margin-left: auto;
  font-weight: bold;
  color:white;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 15px;
  margin: 10px;
  color: white;
  border-radius: 5px;

}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.elements {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.elements a {
    text-decoration: none;
    /* padding: 15px 15px; */
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    color :white;
    background-color: rgb(160, 28, 160);
    font-weight: bold;
    border-radius: 10px;
}

.mint {
  display: flex;
  justify-content: center;
}
.mint a{
  margin: 30px;
  color:white;
  font-weight: bold;
  background-color: rgb(160, 28, 160);
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}

.mintPage select, .mintPage label {
  display:block;
  margin: 10px;
  justify-content: center;
}

.mintPage button{
  position: relative;
  justify-content: center;
}